<td onmouseover="OuvrirMenu()" width="0%">
    <!-- Menu latéral -->
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><img src="{{ asset('image/'~ 'btn_lcms.png')}}" id="DC1" height="100px" style="position: relative;"/></a>
            </li>
            <li>
                <a href="#"><img src="{{ asset('image/'~ 'btn_lms.png')}}" id="DC2" height="100px" style="position: relative;"/></a>
            </li>
            <li>
                <a href="#"><img src="{{ asset('image/'~ 'btn_ts_academy.png')}}" id="DC3" height="100px" style="position: relative;"/></a>
            </li>
            <li>
                <a href="#"><img src="{{ asset('image/'~ 'btn_dispatcher.png')}}" id="DC4" height="100px" style="position: relative;"/></a>
            </li>
            <li>
                <a href="#"><img src="{{ asset('image/'~ 'btn_help.png')}}" id="DC5" height="100px" style="position: relative;"/></a>
            </li>
            </ul>
        </nav>
    </div>
</td>