{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <table width="100%" height="100%">
            <tr width="100%" height="100%">
                {% include 'menu_deroulant.html.twig' %}
                <td width="100%" class="text-center" onmouseover="FermerMenu()">
                    <!-- Contenu de la page -->
                    <div class="text-align center">
                        <h1>Paramètres de connexion</h1>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <!-- Affiche un message succès -->
                                    {% for message in app.flashes('success') %}
                                        <div class="alert alert-success" role="alert">
                                        {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                {% if theUser.role == 1 %}
                                <div class="col-sm bg-white">
                                    <br/>
                                    {{ form_start(formLCMS) }}
                                        <div class="form-group">   
                                            <label>URL</label>
                                            {{ form_widget(formLCMS.urllcms, { attr: {'class': 'form-control'} })}}
                                        </div>
                                        <div class="form-group">   
                                            <label>Login Super Admin</label>
                                            {{ form_widget(formLCMS.loginsuperadmin, { attr: {'class': 'form-control'} })}}
                                        </div>
                                        <div class="form-group">   
                                            <label>Login</label>
                                            {{ form_widget(formLCMS.loginlcms, { attr: {'class': 'form-control'} })}}
                                        </div>
                                        <div class="form-group">   
                                            <label>Mot de passe</label>
                                            {{ form_widget(formLCMS.mdplcms, { attr: {'class': 'form-control'} })}}
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary btn-block">Valider</button>
                                    {{ form_end(formLCMS) }}
                                    <br/>
                                        <a href="{{ path('supprParam') }}" class="btn btn-danger btn-block">Réinitialiser</a>
                                    <br/>
                                </div>
                                {% endif %}
                                <div class="col-sm">
                                {% if theUser.role == 1 %}
                                <div class="col-sm bg-white">
                                    <br/>
                                    {{ form_start(formLMS) }}
                                        <div class="form-group">   
                                            <label>URL</label>
                                            {{ form_widget(formLMS.urllms, { attr: {'class': 'form-control'} })}}
                                        </div>
                                        <div class="form-group">   
                                            <label>Login Super Admin</label>
                                            {{ form_widget(formLMS.loginsuperadmin, { attr: {'class': 'form-control'} })}}
                                        </div>
                                        <div class="form-group">   
                                            <label>Login</label>
                                            {{ form_widget(formLMS.loginlms, { attr: {'class': 'form-control'} })}}
                                        </div>
                                        <div class="form-group">   
                                            <label>Mot de passe</label>
                                            {{ form_widget(formLMS.mdplms, { attr: {'class': 'form-control'} })}}
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary btn-block">Valider</button>
                                    {{ form_end(formLMS) }}
                                    <br/>
                                        <a href="{{ path('supprParam') }}" class="btn btn-danger btn-block">Réinitialiser</a>
                                    <br/>
                                </div>
                                {% endif %}</div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </main>
{% endblock %}